//* Reescribir variables de bootstrap
$rojo: #F34F51;
$verde: #0098AE;
$oscuro: #212121;
$gris: #B5B5B5;

//* Asignar paleta de colores a BS
$primary: $rojo;
$secondary : $verde;
$dark: $oscuro;

//* Tipografia */
$display-font-weight: 900;
$headings-font-weight: 700;

//* Nav Link */
$nav-link-padding-x: 0;
$nav-link-color: $gris;
$nav-link-hover-color: darken($gris, 10%);

//* Cards */
$card-border-color: transparent;


//* Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

